0 9 * * * docker run --rm autopunch punch-in --check-holiday
0 13 * * * docker run --rm autopunch punch-out --check-holiday
0 14 * * * docker run --rm autopunch punch-in --check-holiday
0 18 * * * docker run --rm autopunch punch-out --check-holiday